<header class="header">
  <div class="navbar navbar--{{ color }}">
    <div class="container">
      <div class="navbar__brand">
        <a class="navbar__item" href="/">
          {{ title }}
        </a>

        <button class="button navbar__toggle">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>

      <div class="navbar__menu">
        <ul class="navbar__start">
          <li class="navbar__item">
            <a href="#">Home</a>
          </li>
          <li class="navbar__item">
            <a href="#">Blog</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__link" href="#">Documentation</a>

            <ul class="navbar__dropdown">
              <li class="navbar-item">
                <a href="#">Lorem</a>
              </li>
              <li class="navbar-item">
                <a href="#">Ipsum</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="navbar__end">
          <li class="navbar__item">
            <a href="#" class="button button--success">
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>Download</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
