///* ==========================================================================
//   #VARIABLES
//   ========================================================================== */

// Colors
$black: hsl(0, 0%, 4%) !default;
$black-bis: hsl(0, 0%, 7%) !default;
$black-ter: hsl(0, 0%, 14%) !default;

$grey-darker: hsl(0, 0%, 21%) !default;
$grey-dark: hsl(0, 0%, 29%) !default;
$grey: hsl(0, 0%, 48%) !default;
$grey-light: hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter: hsl(0, 0%, 96%) !default;
$white-bis: hsl(0, 0%, 98%) !default;
$white: hsl(0, 0%, 100%) !default;

$trim-darker: hsl(0, 0%, 15%) !default;
$trim-dark: hsl(0, 0%, 20%) !default;
$trim: hsl(0, 0%, 27%) !default;
$trim-light: hsl(0, 0%, 30%) !default;
$trim-lighter: hsl(0, 0%, 35%) !default;

$amber: hsl(45, 100, 51%) !default;
$blue: hsl(217, 71%, 53%) !default;
$blue-grey: hsl(200, 18%, 46%) !default;
$cyan: hsl(187, 100, 42%) !default;
$dark-green: hsl(151, 83, 34%) !default;
$deep-orange: hsl(14, 100, 57%) !default;
$deep-purple: hsl(262, 52, 47%) !default;
$green: hsl(141, 71%, 48%) !default;
$indigo: hsl(231, 48, 48%) !default;
$light-blue: hsl(199, 98, 48%) !default;
$light-green: hsl(88, 50, 53%) !default;
$lime: hsl(66, 70, 54%) !default;
$orange: hsl(36, 100, 50%) !default;
$pink: hsl(340, 82, 52%) !default;
$purple: hsl(291, 64, 42%) !default;
$red: hsl(348, 100%, 61%) !default;
$teal: hsl(174, 100, 29%) !default;
$turquoise: hsl(171, 100%, 41%) !default;
$violet: hsl(271, 100%, 71%) !default;
$yellow: hsl(54, 100, 62%) !default;

$amber-invert: findColorInvert($amber) !default;
$blue-invert: findColorInvert($blue) !default;
$blue-grey-invert: findColorInvert($blue-grey) !default;
$cyan-invert: findColorInvert($cyan) !default;
$deep-orange-invert: findColorInvert($deep-orange) !default;
$deep-purple-invert: findColorInvert($deep-purple) !default;
$green-invert: findColorInvert($green) !default;
$indigo-invert: findColorInvert($indigo) !default;
$light-blue-invert: findColorInvert($light-blue) !default;
$light-green-invert: findColorInvert($light-green) !default;
$lime-invert: findColorInvert($lime) !default;
$orange-invert: findColorInvert($orange) !default;
$pink-invert: findColorInvert($pink) !default;
$purple-invert: findColorInvert($purple) !default;
$red-invert: findColorInvert($red) !default;
$teal-invert: findColorInvert($teal) !default;
$turquoise-invert: findColorInvert($turquoise) !default;
$violet-invert: findColorInvert($violet) !default;
$yellow-invert: findColorInvert($yellow) !default;

$primary: $blue-grey !default;
$info: $cyan !default;
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $white-ter !default;
$dark: $grey-darker !default;

$primary-invert: $blue-grey-invert !default;
$info-invert: $blue-invert !default;
$success-invert: $green-invert !default;
$warning-invert: $yellow-invert !default;
$danger-invert: $red-invert !default;
$light-invert: $dark !default;
$dark-invert: $light !default;

// Body
$background: $white-ter !default;
$border: $grey-lighter !default;

// Typography Colors
$text: $grey-dark !default;
$text-invert: findColorInvert($text) !default;
$text-light: $grey !default;
$text-strong: $grey-darker !default;

// Links
$link: $blue !default;
$link-invert: $blue-invert !default;
$link-visited: $purple !default;

$link-hover: $grey-darker !default;
$link-hover-border: $grey-light !default;

$link-focus: $grey-darker !default;
$link-focus-border: $blue !default;

$link-active: $grey-darker !default;
$link-active-border: $grey-dark !default;

// Typography Sizes
$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$size-small: $size-7 !default;
$size-normal: $size-6 !default;
$size-medium: $size-5 !default;
$size-large: $size-4 !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

// Font Stacks
$family-sans-serif: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$family-monospace: monospace !default;
$family-proxima-nova: 'Proxima Nova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$family-gotham: 'GothamBody', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$family-gotham-display: 'GothamDisplay', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// Code / Pre
$code: $red !default;
$code-background: $background !default;

$pre: $text !default;
$pre-background: $background !default;

// Grid
$gap: 32px !default;
$tablet: 769px !default;
$desktop: 960px + (2 * $gap) !default;
$widescreen: 1152px + (2 * $gap) !default;
$fullhd: 1344px + (2 * $gap) !default;

// Scaffolding
$body-size: 16px !default;

$family-primary: $family-sans-serif !default;
$family-heading: $family-primary !default;
$family-code: $family-monospace !default;
$render-mode: optimizeLegibility !default;

// Miscellaneous
$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 3px !default;
$radius-large: 5px !default;
$radius-rounded: 290486px !default;
$speed: 86ms !default;

// Maps
$colors: (
  'white': ($white, $black),
  'black': ($black, $white),
  'light': ($light, $light-invert),
  'dark': ($dark, $dark-invert),
  'primary': ($primary, $primary-invert),
  'link': ($link, $link-invert),
  'info': ($info, $info-invert),
  'success': ($success, $success-invert),
  'warning': ($warning, $warning-invert),
  'danger': ($danger, $danger-invert)
) !default;

$shades: (
  'black-bis': $black-bis,
  'black-ter': $black-ter,
  'grey-darker': $grey-darker,
  'grey-dark': $grey-dark,
  'grey': $grey,
  'grey-light': $grey-light,
  'grey-lighter': $grey-lighter,
  'white-ter': $white-ter,
  'white-bis': $white-bis
) !default;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;
