/* ==========================================================================
   #CONTAINER
   ========================================================================== */

.container {
  margin: 0 auto;
  position: relative;


  /* Desktop Container
     ========================================================================== */

  @include from($desktop) {
    max-width: $desktop - (2 * $gap);
    width: $desktop - (2 * $gap);

    &--fluid {
      margin-left: $gap;
      margin-right: $gap;
      max-width: none;
      width: auto;
    }

  }


  /* Widescreen Container
     ========================================================================== */

  @include until($widescreen) {

    &--widescreen {
      max-width: $widescreen - (2 * $gap);
      width: auto;
    }

  }


  /* Full HD Container
     ========================================================================== */

  @include until($fullhd) {

    &--fullhd {
      max-width: $fullhd - (2 * $gap);
      width: auto;
    }

  }

  /* Default Container
     ========================================================================== */

  @include from($widescreen) {
    max-width: $widescreen - (2 * $gap);
    width: $widescreen - (2 * $gap);
  }

  @include from($fullhd) {
    max-width: $fullhd - (2 * $gap);
    width: $fullhd - (2 * $gap);
  }
}
