/*------------------------------------*\
  #CONTAINER
\*------------------------------------*/

.container {
  margin: 0 auto;
  position: relative;
  
  // Desktop
  @include from($desktop) {
    max-width: $desktop - (2 * $gap);
    width: $desktop - (2 * $gap);
    &__fluid {
      margin-left: $gap;
      margin-right: $gap;
      max-width: none;
      width: auto;
    }
  }
  
  // Widescreen
  @include until($widescreen) {
    &__widescreen {
      max-width: $widescreen - (2 * $gap);
      width: auto;
    }
  }
  
  // Full HD
  @include until($fullhd) {
    &__fullhd {
      max-width: $fullhd - (2 * $gap);
      width: auto;
    }
  }
  
  // Widescreen
  @include from($widescreen) {
    max-width: $widescreen - (2 * $gap);
    width: $widescreen - (2 * $gap);
  }
  
  // FullHD
  @include from($fullhd) {
    max-width: $fullhd - (2 * $gap);
    width: $fullhd - (2 * $gap);
  }
}