<div class="content">
  <h2>Colors</h2>
  <span class="pill" href="#">Default</span>
  <span class="pill pill--primary" href="#">Primary</span>
  <span class="pill pill--success" href="#">Success</span>
  <span class="pill pill--warning" href="#">Warning</span>
  <span class="pill pill--danger" href="#">Danger</span>
  <span class="pill pill--info" href="#">Info</span>
  <span class="pill pill--link" href="#">Link</span>

  <h2>Sizes</h2>
  <span class="pill pill--medium" href="#">Medium</span>
  <span class="pill pill--large" href="#">Large</span>
</div>
