/* ==========================================================================
   #FIGURE
   ========================================================================== */

$figure-spacing: 1em;
$figure-content-alignment: center;

.figure {
  max-width: 100%;

  .figure__content {
    margin-top: $figure-spacing;
    text-align: $figure-content-alignment;
  }

}
