/* ==========================================================================
   #HEADER
   ========================================================================== */

.header {
  position: relative;

  &--fixed {
    position: fixed;
    top: 0;
  }
}
