/* ==========================================================================
   #HEADER
   ========================================================================== */

.header {
  position: relative;


  /* Fixed Header
     ========================================================================== */

  &--fixed {
    position: fixed;
    top: 0;
  }

}
