
/*------------------------------------*\
  #HERO
\*------------------------------------*/

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &--#{$name} {
      background-color: $color;
      color: $color-invert;

      a:not(.button),
      strong {
        color: inherit;
      }

      .title {
        color: $color-invert;
      }

      .subtitle {
        color: rgba($color-invert, 0.9);

        a:not(.button),
        strong {
          color: $color-invert;
        }
      }

      .navbar__menu {
        @include touch() {
          background-color: $color;
        }
      }

      .navbar__item,
      .navbar__link {
        color: rgba($color-invert, 0.7);
      }

      .navbar__item,
      .navbar__link {

        &:hover,
        &.is-active {
          background-color: darken($color, 5%);
          color: $color-invert;
        }
      }

      // Modifiers

      &.hero--bold {
        $gradient-top-left: darken(saturate(adjust-hue($color, -10deg), 10%), 10%);
        $gradient-bottom-right: lighten(saturate(adjust-hue($color, 10deg), 5%), 5%);
        background-image: linear-gradient(141deg, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%);
        @include mobile() {

          .navbar__menu {
            background-image: linear-gradient(141deg, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%);
          }
        }
      }
    }
  }

  // Sizes

  &--small {

    .hero__body {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
    }
  }

  &--medium {
    @include tablet() {

      .hero__body {
        padding-bottom: 9rem;
        padding-top: 9rem;
      }
    }
  }

  &--large {
    @include tablet() {

      .hero__body {
        padding-bottom: 18rem;
        padding-top: 18rem;
      }
    }
  }

  &--halfheight,
  &--fullheight {

    .hero__body {
      align-items: center;
      display: flex;

      & > .container {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }

  &--halfheight {
    min-height: 50vh;
  }

  &--fullheight {
    min-height: 100vh;
  }
}

// Containers

.hero__header,
.hero__footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.hero__body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}
