<div class="divider" data-content="OR"></div>

<div class="columns">
  <div class="column"></div>
  <div class="divider divider--vertical" data-content="OR"></div>
  <div class="column"></div>
</div>
