<div class="notification">
  <button class="delete"></button>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eius, illo iure suscipit voluptatum minima aliquam sequi sint accusantium unde temporibus accusamus placeat iusto earum voluptate fugiat, dolorem ut itaque.
</div>

<div class="notification notification--primary">
  <button class="delete"></button>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eius, illo iure suscipit voluptatum minima aliquam sequi sint accusantium unde temporibus accusamus placeat iusto earum voluptate fugiat, dolorem ut itaque.
</div>

<div class="notification notification--success">
  <button class="delete"></button>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eius, illo iure suscipit voluptatum minima aliquam sequi sint accusantium unde temporibus accusamus placeat iusto earum voluptate fugiat, dolorem ut itaque.
</div>

<div class="notification notification--warning">
  <button class="delete"></button>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eius, illo iure suscipit voluptatum minima aliquam sequi sint accusantium unde temporibus accusamus placeat iusto earum voluptate fugiat, dolorem ut itaque.
</div>

<div class="notification notification--danger">
  <button class="delete"></button>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eius, illo iure suscipit voluptatum minima aliquam sequi sint accusantium unde temporibus accusamus placeat iusto earum voluptate fugiat, dolorem ut itaque.
</div>

<div class="notification notification--info">
  <button class="delete"></button>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eius, illo iure suscipit voluptatum minima aliquam sequi sint accusantium unde temporibus accusamus placeat iusto earum voluptate fugiat, dolorem ut itaque.
</div>

<div class="notification notification--link">
  <button class="delete"></button>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eius, illo iure suscipit voluptatum minima aliquam sequi sint accusantium unde temporibus accusamus placeat iusto earum voluptate fugiat, dolorem ut itaque.
</div>
