<div class="breadcrumb">
  <ul class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a href="#">Home</a>
    </li>

    <li class="breadcrumb__item">
      <a href="#">Category</a>
    </li>

    <li class="breadcrumb__item">
      <a href="#">Uncategorized</a>
    </li>
  </ul>
</div>
