/* ==========================================================================
   #CONTENT
   ========================================================================== */

$content-heading-color: $text-strong !default;
$content-heading-weight: $weight-normal !default;
$content-heading-line-height: 1.125 !default;

$content-blockquote-background-color: $background !default;
$content-blockquote-border-left: 5px solid $border !default;
$content-blockquote-padding: 1.25em 1.5em !default;

$content-pre-padding: 1.25em 1.5em !default;

$content-table-cell-border: 1px solid $border !default;
$content-table-cell-border-width: 0 0 1px !default;
$content-table-cell-padding: 0.5em 0.75em !default;
$content-table-cell-heading-color: $text-strong !default;
$content-table-row-hover-background-color: $background !default;
$content-table-head-cell-border-width: 0 0 2px !default;
$content-table-head-cell-color: $text-strong !default;
$content-table-foot-cell-border-width: 2px 0 0 !default;
$content-table-foot-cell-color: $text-strong !default;

$content-h1-size: 2em !default;
$content-h1-margin-top: 1em !default;
$content-h1-margin-bottom: 0.5em !default;

$content-h2-size: 1.75em !default;
$content-h2-margin-top: 1.1428em !default;
$content-h2-margin-bottom: 0.5714em !default;

$content-h3-size: 1.5em !default;
$content-h3-margin-top: 1.3333em !default;
$content-h3-margin-bottom: 0.6666em !default;

$content-h4-size: 1.25em !default;
$content-h4-margin-bottom: 0.8em !default;

$content-h5-size: 1.125em !default;
$content-h5-margin-bottom: 0.8888em !default;

$content-h6-size: 1em !default;
$content-h6-margin-bottom: 1em !default;

.content,
.entry-content,
.entry-summary {
  @include block();


  /* Inline
     ========================================================================== */

  li + li {
    margin-top: 0.25em;
  }


  /* Blocks
     ========================================================================== */

  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table {

    &:not(:last-child) {
      margin-bottom: 1em;
    }

  }


  /* Headers
     ========================================================================== */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $content-heading-color;
    font-weight: $content-heading-weight;
    line-height: $content-heading-line-height;
  }

  h1 {
    font-size: $content-h1-size;
    margin-bottom: $content-h1-margin-bottom;

    &:not(:first-child) {
      margin-top: $content-h1-margin-top;
    }

  }

  h2 {
    font-size: $content-h2-size;
    margin-bottom: $content-h2-margin-bottom;

    &:not(:first-child) {
      margin-top: $content-h2-margin-top;
    }

  }

  h3 {
    font-size: $content-h3-size;
    margin-bottom: $content-h3-margin-bottom;

    &:not(:first-child) {
      margin-top: $content-h3-margin-top;
    }

  }

  h4 {
    font-size: $content-h4-size;
    margin-bottom: $content-h4-margin-bottom;
  }

  h5 {
    font-size: $content-h5-size;
    margin-bottom: $content-h4-margin-bottom;
  }

  h6 {
    font-size: $content-h6-size;
    margin-bottom: $content-h6-margin-bottom;
  }


  /* Blockquote
     ========================================================================== */

  blockquote {
    background-color: $content-blockquote-background-color;
    border-left: $content-blockquote-border-left;
    padding: $content-blockquote-padding;
  }


  /* Lists
     ========================================================================== */

  ol {
    list-style: decimal outside;
    margin-left: 2em;
    margin-top: 1em;
  }

  ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;

    ul {
      list-style-type: circle;
      margin-top: 0.5em;

      ul {
        list-style-type: square;
      }

    }

  }

  dd {
    margin-left: 2em;
  }

  /* Figure
     ========================================================================== */

  figure {
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;

    &:not(:first-child) {
      margin-top: 2em;
    }

    &:not(:last-child) {
      margin-bottom: 2em;
    }

    img {
      display: inline-block;
    }

    figcaption {
      font-style: italic;
    }

  }


  /* Pre
     ========================================================================== */

  pre {
    @include overflow-touch();
    overflow-x: auto;
    padding: $content-pre-padding;
    white-space: pre;
    word-wrap: normal;
  }


  /* Sup / Sub
     ========================================================================== */

  sup,
  sub {
    font-size: 75%;
  }


  /* Table
     ========================================================================== */

  table {
    width: 100%;

    td,
    th {
      border: $content-table-cell-border;
      border-width: $content-table-cell-border-width;
      padding: $content-table-cell-padding;
      vertical-align: top;
    }

    th {
      color: $content-table-cell-heading-color;
      text-align: left;
    }

    tr {

      &:hover {
        background-color: $content-table-row-hover-background-color;
      }

    }

    thead {

      td,
      th {
        border-width: $content-table-head-cell-border-width;
        color: $content-table-head-cell-color;
      }

    }

    tfoot {

      td,
      th {
        border-width: $content-table-foot-cell-border-width;
        color: $content-table-foot-cell-color;
      }

    }

    tbody {

      tr {

        &:last-child {

          td,
          th {
            border-bottom-width: 0;
          }

        }

      }

    }

  }


  /* Content Sizes
     ========================================================================== */

  &--small {
    font-size: $size-small;
  }

  &--medium {
    font-size: $size-medium;
  }

  &--large {
    font-size: $size-large;
  }

}
